.sub-menu{
    padding: 0;
    margin: 5px; 
    margin-left: 0;   
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px orangered;
    width: 300px;
}
.sub-menu a{
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted brown;
    text-decoration: none;
    font-variant: small-caps;
    color: orangered;
    padding: 8px 5px 8px 30px;
    background: url('./295627459_612987530542978_6424655686516402289_n.png') no-repeat left center;
}
.sub-menu>li>a:hover{
    background: url('./269699140_662425294938614_5968632498968086060_n.png') no-repeat left center;
    font-weight: bolder;
    color: brown;
    background-color: orangered;
    border-bottom: 1px dotted white;
}