body{
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
h2{
    color: white;
    text-shadow: 0 0 5px red;
}
.sao1{
    color: brown;
}
.sao2{
    color: blue;
}
.sao3{
    color: darkgreen;
}
strong{
    color: brown;
}