/* .box{
    background-color: blue;
    margin: 10px 1050px 10px 10px;
    box-shadow: ;
}
.box>img{
    width: 300px;
    margin: 10px 30px;
    border: 5px solid red;
    border-radius: 20px 0px 20px 0px;
    background-color: aqua;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
} */
/* .box div{
    text-align: center;
}
.box img{
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px blue;
}
.box button{
    border: none;
    border-radius: 20px;
    background: white;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: inset 0 0 20px blue;
} */
.box1{
    display: flex;
    position: relative;
    padding: 18px 20px;
}
.tuychon{
    position: absolute;
}